.local/share/fonts/.uuid
.emacs.d/backup/
.emacs.d/elpa/
.emacs.d/emacs-custom.el
.emacs.d/auto-save-list
.emacs.d/history
.emacs.d/places
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/eshell
.emacs.d/projects
org~
.local/share/fonts/nvim
.local/share/fonts/nautilus
.local/share/fonts/recently-used.xbel
.local/share/fonts/virtualenv
